@font-face {
    font-family: 'YoungSerif';
    src: url("/fonts/YoungSerif-Regular.ttf") format("truetype");
    font-weight: 100 1000;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url("/fonts/Outfit-VariableFont_wght.ttf") format("truetype");
    font-weight: 400 700;
    font-style: normal;
}
